section {
  border: 7px solid black;
  border-radius: 5px;
  background: white;
  height: 13em;
  padding: 0 1em;
}

h2 {
  color: #D077E7;
  text-align: center;
}

p {
  font-size: 1.1em;
}

.birthdays {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.no-birthdays {
  color: lightslategrey;
  font-style: italic;
  font-size: .8em;
  text-align: center;
}